<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Toetscie - FMF</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Toetscie</a>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="buttonContainer">
            <a href="https://gitlab.com/fmfnl/websites/toetscie" target="_blank"><span>Source code</span></a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
