@model FMF.Toetscie.Models.Course

@{
    // To not repeat ourselves, let's make a helper for the file listing.
    void RenderFile(IFile file, string dateFormat, string authorString)
    {
        <div class="examType">
            @(file.Route != null ? @file.Type : "Missing Exam")
        </div><br />

        <div class="examDate">@(file.Date?.ToString(dateFormat) ?? "(date unknown)")</div>

        @* if (file.Author == null) return;
        @:(@authorString: @file.Author) *@
    }

    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
</div>

    <h2>List of exams</h2>
    <ul class="examList">
        @{
            //Filter out exams with null dates
            var examsWithYear = Model.Exams.Where(e => e.Date is not null);
        }
        @* List out exams by year *@
        @for (var i = examsWithYear.Max(e => e.Date.GetValueOrDefault(DateTime.MaxValue).Year); i >= examsWithYear.Min(e => e.Date.GetValueOrDefault(DateTime.MinValue).Year); i--){
            <li class="year">
            <div class="label">@i</div>
            @foreach (var exam in Model.Exams.Where(e => e.Date.GetValueOrDefault().Year == i)){
                @if (exam.Route != null)
                {
                    <div class="@("examCont " + (exam.Solutions == null ? "noSol" : ""))">
                        <div class="buttonContainer">
                            <a class="examLink" href="/@exam.Route" target="_blank">
                                <span>@{ RenderFile(exam, "dd MMM", "Lecturer"); }</span>
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="examCont noExam">
                        <div class="buttonContainer">
                            <span class="examLink">
                                <span>
                                    @{ RenderFile(exam, "dd MMM", "Lecturer"); }
                                </span>
                            </span>
                        </div>
                    </div>
                }

                @if (exam.Solutions != null)
                {
                    <div class="examCont">
                        <div class="buttonContainer">
                            <a class="examLink" href="/@exam.Solutions.Route" target="_blank"><span>Solutions</span></a>
                        </div>
                    </div>
                }
            }
            </li>
        }
    </ul>
    <h2>List of student-made notes</h2>
    <ul>
        @foreach (var note in Model.Notes)
        {
            <li>
                <a href="/@note.Route" target="_blank">
                    @{ RenderFile(note, "yyyy", "Made by"); }
                </a>
            </li>
        }
    </ul>
