@model FMF.Toetscie.Models.Degree

@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1>@Model.Name</h1>
</div>

    <div class="pagetitle">
        <h2>List of courses</h2>
    </div>
    <div class="listcontainer">
        <ul class="degreeList">
            @foreach (var course in Model.Courses)
            {
                <li>
                    <a href="/@course.Route">@course.Name</a>
                </li>
            }
        </ul>
    </div>