@model ICollection<FMF.Toetscie.Models.Degree>

@{
    ViewData["Title"] = "Home";
}

<div class="pagetitle">
    <h1>List of degrees</h1>
</div>
<div class="listcontainer">
    <ul  class="degreeList">
        @foreach (var degree in Model)
        {
            <a href="/@degree.Route">
                <li>
                    @degree.Name
                </li>
            </a>
        }
    </ul>
</div>