/* Copyright (C) 2023  Fysisch-Mathematische Faculteitsvereniging

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. */

html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow-x: hidden;
  
  margin: 0;
  background-color: rgb(5, 13, 14);
  color: #c1c1c1;  
  font-family: 'Lato', sans-serif;
}
.container{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listcontainer{
  display: block;
  margin-top: 5vh;
}
a{
  text-decoration: none;
  color: #c1c1c1;
}
.text-center{
  display: flex;
  justify-content: center;
}
h1{
  display: inline-block;
  text-align: center;
  font-weight: 100;
  font-size: 48px;
  text-transform: capitalize;
  padding: 12px 16px;
  
  border-bottom: 1px solid #c1c1c1;
}
h2{
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

/* BUTTON STYLING */

.buttonContainer{
  right: 5vw;
  width: 154px;
  height: 54px;
  border-radius: 27px;
  overflow: hidden;
  background: linear-gradient(45deg, #C02425 0%, #f83600 100%);
  }
  .buttonContainer a, .buttonContainer .examLink{
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(5, 13, 14);
    color:#c1c1c1;
    margin-left: 2px;
    margin-top: 2px;
    position: relative;

    text-align: center;
    line-height: 50px;
    font-weight: 600;
    transition: .2s ease all;
  }
  .buttonContainer a::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 0;
    background: linear-gradient(45deg, #C02425 0%, #f83600 100%);
    transition: .3s ease all;
  }
    .buttonContainer a:hover{
      color: rgb(5, 13, 14);
      transition: .2s ease all;
    }
    .buttonContainer a:hover::after{
      width: 100%;
      transition: .45s cubic-bezier(0.45, 0.24, 0.18, 0.82) all;
    }

/* HEADER */
header{
  flex: 0 1 auto;
}

/* FOOTER */
footer{
  flex: 0 1 auto;
  display: flex;
  flex-direction: row-reverse;
  width: 95vw;
  min-height: 54px;
  border-top: 1px solid #c1c1c1;
  padding: 2.5vw;
  margin-top: 5vh;
}
    footer a span{
      position: relative;
      display: block;
      z-index: 2;
    }

/* NAV */
  .navbar div{
    display: inline-block;
  }
.nav-item{
  display: inline-block;
}
.navbar-brand{
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #c1c1c1;
  display: inline-block;
  padding: 1vw 1vw;
  transition: .75s ease all;
}
.navbar-brand:hover{
  padding-left: 3vw;
  transition: .75s ease all;
}
  .navbar-brand::before{
    content: "> ";
    color: #f83600;
    opacity: 0;
    transition: .75s ease all;
  }
  .navbar-brand:hover::before{
    opacity: 1;
    transition: .75s ease all;
  }

/* DEGREEPAGE */
.degreeList{
  display: flex;
  flex-direction: column;
  width: 30vw;
  list-style: none;

  font-weight: 400;
  font-size: 20pt;
  text-transform: uppercase;
}
  .degreeList a{
    text-decoration: none;
    color: #c1c1c1;
    overflow: hidden;
  }
  .degreeList li{
    padding: 15px;
    transition: .75s ease all;
  }
  .degreeList li:hover{
    padding-left: 3vw;
    transition: .75s ease all;
  }
    .degreeList li::before{
      content: "> ";
      color: #f83600;
      opacity: 0;
      transition: .75s ease all;
      margin-left: -15px;
    }
    .degreeList li:hover::before{
      opacity: 1;
      transition: .75s ease all;
    }

/* COURSEVIEW */

.examList{
  display: flex;
  flex-direction: column;
  list-style: none;

  width: 40vw;
  padding: 0;
  border-top: 1px solid #c1c1c1;
}
  .examList .year{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;

    width: calc(40vw - 50px);
    padding: 25px;
    border-bottom: 1px solid #c1c1c1;
  }
    .examList .year .label{
      position: absolute;
      top: 0;
      left: 0;
    }
  .examList .examCont{
    display: flex;
    flex-direction: column;
    flex-basis: 15vw;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-width: 215px;
    min-height: 75px;
  }
  .examList .examCont.noExam{
    color: #858585;
    filter: grayscale(1);
  }
  .examList .examCont.noSol{
    flex-basis: 100%;
  }
    .examList a div{
      display: inline-block;
      line-height: normal;
    }
  .examList .examLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .examList .examLink span, .examList span.examLink{
      z-index: 2;
      line-height: normal;
    }
      .examList span.examLink div{
        display: inline-block;
        line-height: normal;
      }

  /* MOBILE */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}